@import "tailwindcss";
@plugin "@tailwindcss/typography";
@config "../../tailwind.config.js";

:root {
  --tapp-bg: #101217;
  --tapp-box: #1a1e25;
  --tapp-text: #c2c8d0;
  --tapp-titles: #9788d8;
  --tapp-links: #7a6dbf;
  --tapp-hr: rgb(122, 109, 191, 0.3);
}

@media (prefers-color-scheme: dark) {
  :root {
    --tapp-bg: #0c0f14;
    --tapp-box: #16191f;
    --tapp-text: #b6bcc4;
    --tapp-titles: #8679c8;
    --tapp-links: #6958a8;
    --tapp-hr: rgb(122, 109, 191, 0.3);
  }
}
